* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.container {
  padding: 2rem 5rem 0rem 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 35rem;
  background-color: brown;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.imgBox {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  /* background-color: white; */
  padding: 5px;
  margin-bottom: 5rem;
}

.img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.mainList {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  cursor: pointer;
}

.mainList li a {
  color: white;
  font-weight: 550;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-decoration: none;
}

.resume {
  color: white;
}

@media (max-width: 1208px) {
  .imgBox {
    width: 15rem;
    height: 15rem;
  }

  .mainList {
    margin-top: 3rem;
    align-items: center;
  }

  .mainList li {
    margin-bottom: 2rem;
  }
}

@media (max-width: 75em) {
  .imgBox {
    width: 15rem;
    height: 15rem;
  }

  .mainList {
    margin-top: 3rem;
    align-items: center;
  }

  .mainList li {
    color: white;
    font-weight: 550;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

@media (max-width: 63em) {
  .container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100dvh;
    transition: all 0.5s ease-in;
  }

  .imgBox {
    width: 15em;
    height: 15rem;
  }

  .mainList {
    margin-top: 3rem;
    align-items: center;
  }

  li {
    color: white;
    font-weight: 550;
    font-size: 2rem;
  }

  li:last-child {
    margin-bottom: 0;
  }

  .hidden {
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}
