
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.flex p {
  color: brown;
}

.text{
  padding: 1rem 0;
}

@media(max-width: 800px){
  .flex p{
    font-size: 1rem;
  }
}